html {
    background: #525454;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #0b3252;
}

.sticky {
    position: sticky;
    top:0;
    background: #0b3252;
    border-bottom: 3px solid #000000;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #b89818;
}

nav ul {
    float: left;
}

nav ul li {
    float:left;
    list-style: none;
}

nav ul li a {
    font-family: arial;
    color: #222;
    font-size: 24px;
    padding: 18px 14px;
    text-decoration: none;
    
}

h1 {
    text-align: center;
    margin: 0px;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}
h5 {
    margin-top: -20px;
    text-align: center;
    color: white;
}

p {
    line-height: 1.4em;
    color: white;
}

#blog {
    border-top: 2px solid #000000;
    display: flex;

}

.blog-post {
    border-bottom: 1px solid #000000;
    color: white;
}

#information {
    border-top: 2px solid #000000;
    text-align:center;
}
.about-me {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.about-me img {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#list {
    border-top: 2px solid #000000;
    color: white;
}

img {
    display: block;
    margin: 0 auto;
    outline-style: solid;
    outline-color:black;
}

table {
    background: #e3e3e3;
    outline-style: solid;
    outline-color:black;
    text-align: center;
    margin: 0 auto;
    color: black;
    padding: 10px;
}

form {
    text-align:center;
    color: white;
}

@media (max-width: 400px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
        color: #242424;
        border-top: 10px solid #0b3252;
        background: white;
    }
    
    h1 {
        text-align: center;
        margin: 0px;
        color: black;
    }
    
    h2 {
        text-align: center;
        color: black;
    }
    
    h3 {
        color: black;
    }
    
    h4 {
        color: black;
    }
    h5 {
        margin-top: -20px;
        text-align: center;
        color: black;
    }
    
    p {
        line-height: 1.4em;
        color: black;
    }
}